node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
!.vscode/
!.vscode/settings.json
!.vscode/extensions.json

# dotenv environment variable files
.env.*
!.env.example
# Added by code-review-graph
.code-review-graph/
.tokensave/
.cursor/
.claude/

CLAUDE.md
AGENTS.md
.mcp.json